<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rewrite8787">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://140.136.151.71:8787/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Original" value="https://catniverse.website" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
