<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="reverse" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://140.136.151.71:5173/{R:0}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="catniverse.website" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
