.content {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#map {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.select-row {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1em; 
}

.select-row select {
  flex: 1; 
  margin-right: 10px; 
}

.select-row select:last-child {
  margin-right: 0; 
}
