.content {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


#map {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.select-row {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1em; 
}

.select-row select {
  flex: 1; 
  margin-right: 10px; 
}

.select-row select:last-child {
  margin-right: 0; 
}

.image-crop-container {
  display: flex;
  margin-bottom: 20px;  /* Adds spacing between different images */
}

.image-crop-section {
  width: 100%;  /* Adjusts to the container's width */
  max-width: 800px;  /* Ensures it does not exceed 800px */
  margin: 0 auto;  /* Centers the cropping section */
}

.justify-btn {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
}

.image-preview-section img {
  width: 100%;  
  height: auto;  
}

.btn-info {
  margin-right: 10px;
}

