.container_cart {
    max-width: 900px;
    max-height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 27.5%;
    padding: 0%;
    margin-top: 20px
}

.mobile-container_cart {
  max-width: 900px;
  max-height: auto;
  background-color: #fff;
  padding-top: 14%
}

.cartpage {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .mobile-cartpage {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  .cart-header{
    margin: 0%;
    text-align: center;
  }
  
  .cart-list {
    list-style-type: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 0;
    content: none !important;

  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
    position: relative;
  }

  .cart-item::before {
    content: none !important;
  }
  
  .select-product-checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    accent-color: rgb(173, 29, 29);
  }
  
  .product-pic-inCart {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-name {
    font-size: 16px;
    color: #333;
    text-align: left;
  }
  
  .product-prices {
    margin-top: 5px;
  }
  
  .original-price {
    margin-right: 10px;
  }
  
  .product-tags {
    margin-top: 8px;
  }
  
  .product-tag {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 12px;
    color: #666;
    border-radius: 3px;
  }
  
  .product-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 10px; /* 右下角 */
    bottom: 10px;
  }
  
  .product-quantity button {
    background-color: #ddd;
    border-radius: 100%;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .product-quantity span {
    font-weight: bold;
  }
  
  .cart-total-price {
    text-align: right;
    font-size: 20px;
  }
  
  .cart-buy-btn {
    font-size: 20px;
    color: white;
    background-color: rgb(173, 29, 29);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
  }
  
  .cart-buy-btn:hover {
    background-color: hsl(0, 71%, 33%);
    cursor: pointer;
  }
  
  .add, .remove {
    margin-top: 0;
  }

  .bin-btn {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    margin-left: 95%;
  }

  .empty {
    padding: 5px;
    text-align: center;
  }