/* 全局樣式 */
h2 {
  padding-top: 0;
}

.map-container {
  width: 60%!important; 
  height: 100vh!important; 
  margin-left: 18.5%;
  position: relative; 
  transform-origin: right; 
  transform: scale(1); 
  background-color: #f0f8ff; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.mapboxgl-ctrl-top-right {
  top: auto;
  bottom: 20px;
  right: 20px;
}

/* 貓咪資訊方框 */
.info-box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 90px; 
  right: 25px;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  width: 250px; 
  height: auto;
}

.info-box h3 {
  margin-top: 0;
  font-size: 16px;
}

.info-box p {
  font-size: 14px;
  margin: 5px 0 0;
}

.info-box-select {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 250px; 
  right: 25px;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  width: 250px; 
  height: auto;
  max-width: 300px;
  min-width: 150px;
}

.info-box-select label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.info-box-select select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 2px;
}

.mapboxgl-ctrl-zoom-in::before,
.mapboxgl-ctrl-zoom-out::before {
  line-height: 30px; 
}

.button-container {
  width: 35%; 
  margin: 20px auto; 
  text-align: center; 
}

.locate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsl(0, 3%, 87%);
  color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  margin-left: 80%;
}

.locate-button:hover {
  background-color: hsla(0, 1%, 34%, 0.232);
} 

.loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #555;
  font-weight: bold;
}

.map {
  display: flex;
}

.cat-select {
  top: 25px; 
  right: 30px;
  display: inline;
  position: absolute;
}

.location {
  margin-right: 5px;
}

.legend {
  position: absolute;
  bottom: 40px;
  left: 67.5%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 12px;
  z-index: 10;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
}

.color-1 {
  background-color: hsl(129, 55%, 40%);
}

.color-2 {
  background-color: hsl(129, 60%, 52%);
}

.color-3 {
  background-color: hsl(129, 65%, 63%);
}

.color-4 {
  background-color: hsl(129, 70%, 72%);
}

.color-5 {
  background-color: hsl(129, 80%, 82%);
}

.color-6 {
  background-color: hsl(129, 90%, 88%);
}

.location-btn {
  position: fixed !important;
  z-index: 100;
  cursor: pointer;
  background-color: transparent;
  padding: 0% !important;
  margin: 0% !important;
}

.location-btn img {
  max-width: 30px;
  max-height: 30px;
}
